.content{
	margin: auto;
	width: 75%;
	padding: 10px;
	text-align: center;
}

.content-delete {
	margin: auto;
	width: 25%;
}

.card-title, .card-content{
	margin-left: 15px;
	text-align: left;
	color: black;
}

.checklist-text{
	color:black; 
/*	background: #3d68ad;*/
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.checklist-form{
	color: black;
/*	background: #3d68ad;*/
	padding-top: 10px;
	padding-bottom: 15px;
	border-radius: 10px;
}

#myChart {
	background-color: white;
	border-radius: 10px;
}


