{% extends "weightloss/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row content-wrapper justify-content-center">
            <div class="col-lg-5 offset-lg-1 mbr-form checklist-form" data-form-type="formoid">
                <form method="POST">
                	{% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                {% if context.state == 'create' %}
                                    <strong>Lav en workout</strong>
                                {% else %}
                                    <strong>Opdater dit workout</strong>
                                {% endif %}
                            </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                split workout med ny linje</p>
                        </div>
                        {{ form|crispy }}
                        <div class="col-12 col-md-auto mbr-section-btn">
                            {% if context.state == 'create' %}
                                <button type="submit" class="btn btn-success display-4">Opret</button>
                            {% else %}
                                <button type="submit" class="btn btn-success display-4">Opdater</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
{% endblock content %}

{% block jslinks %}

{% endblock jslinks %}
