{% extends "weightloss/base.html" %}
{% load static %}


{% block content %}

{% if exist == True %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
  <canvas id="myChart"></canvas>
</div>



<script>
  const labels = [
    {% for w in weight %}
    '{{ w.date_posted|date:"d. F Y" }}',
    {% endfor %}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Mit vægt tab',
      backgroundColor: 'rgba(255, 99, 132)',
      borderColor: 'rgba(255, 99, 132)',
      data: [{% for w in weight %}{{ w.weight }}, {% endfor %}],
      tension: 0.1,
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% else %}
<div class="align-center container-fluid">
  <h1>Ikke nok data!</h1>
  <strong>Der er ikke nok data til at lave en graph endnu lav et indlæg <a href="{% url 'weightloss-post' %}">her</a></strong>
</div>
{% endif %}

{% endblock content %}
