{% extends "weightloss/base.html" %}
{% load static %}

{% block content %}


    <div class="align-center container-fluid">
        <div class="row justify-content-end">
            <h1 style="color: white;" class="mbr-section-title mbr-fonts-style mb-3 display-1">
                <strong>Wegty</strong>
            </h1>           
            <p style="color: white;" class="mbr-text mbr-fonts-style display-7">Webside projekt til at hjælpe med at holde øje med vægt tab</p>             
        </div>
    </div>

{% endblock %}