{% extends "weightloss/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block csslinks %}
<link rel="stylesheet" type="text/css" href="{% static 'weightloss/mine/css/checklist.css' %}">

{% endblock csslinks %}

{% block content %}

<div class="row content-wrapper justify-content-center">
            <div style="" class="col-lg-5 offset-lg-1 mbr-form checklist-form" data-form-type="formoid">
                <form method="POST">
                	{% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                {% if update == 'update' %}
                                    <strong>Opdater indlæg</strong>
                                {% else %}
                                    <strong>Lav et indlæg</strong>
                                {% endif %}
                            </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {% if update == 'update' %}
                                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Opdater formen og tjek gerne at alle felter er har data.</p>
                            {% else %}
                                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Fyld formen og tjek gerne tjek listen inden du trykker Indsend!</p>
                            {% endif %}
                        </div>
                        {{ form|crispy }}
                        <div class="col-12 col-md-auto mbr-section-btn">
                            {% if update == 'update' %}
                            <button type="submit" class="btn btn-success display-4">Opdater</button>
                            {% else %}
                            <button type="submit" class="btn btn-success display-4">Indsend</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            {% if update != 'update' %}
            <div class="col-lg-5 offset-lg-1 col-12">
                {% if checklist == "none" %}
                    <strong class="checklist-text">Du burde lave en checkliste først!
                    tryk <a href="{% url 'weightloss-checklist' %}">her</a> for at lave en</strong>
                {% else %}
                <div id="workoutlist">      
                    {% for workout in checklist %}
                        <input id="01" type="checkbox" name="r" value="1">
                        <label class="cb-workoutlist" for="01">{{ workout }}</label>
                    {% endfor %}
                {% endif %}          
                </div>          
            {% endif %}
{% endblock content %}

{% block jslinks %}

{% endblock jslinks %}
