{% extends "weightloss/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block csslinks %}
<link rel="stylesheet" type="text/css" href="{% static 'weightloss/mine/css/checklist.css' %}">

{% endblock csslinks %}

{% block content %}
{% if context.checklist == "none" %}
<div class="align-center container-fluid">
    <h1>Ingen tjekliste fundet!</h1>
    <strong>Du skal lave en tjekliste først tryk <a href="{% url 'weightloss-checklist' %}">her</a></strong>
</div>
{% else %}

<div class="row content-wrapper justify-content-center">
            <div style="" class="col-lg-5 mbr-form checklist-form" data-form-type="formoid">
                <form method="POST" autocomplete="off">
                	{% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                {% if update == 'update' %}
                                    <strong>Opdater indlæg</strong>
                                {% else %}
                                    <strong>Lav et indlæg</strong>
                                {% endif %}
                            </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {% if context.update == 'update' %}
                                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Opdater formen og tjek gerne at alle felter er har data.</p>
                            {% else %}
                                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Fyld formen og tjek gerne tjeklisten inden du trykker Indsend!</p>
                            {% endif %}
                        </div>
                        {{ form|crispy }}
                        <div class="col-12 col-md-auto mbr-section-btn">
                            {% if context.update == 'update' %}
                            <button type="submit" class="btn btn-success display-4">Opdater</button>
                            {% else %}
                            <button type="submit" class="btn btn-success display-4">Indsend</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            {% if context.update != 'update' %}
            <div class="col-lg-5 col-12">
                <div id="workoutlist">     

                    {% for workout in context.checklist %}
                        {% if workout == empty %}
                            <br>
                        {% else %}
                        <input id="{{ forloop.counter }}" type="checkbox" name="r" value="{{ workout }}">
                            <label id="workout" class="cb-workoutlist" for="{{ forloop.counter }}">{{ workout }}</label>
                        {% endif %}
                    {% endfor %}         
                </div>          
            {% endif %}
{% endif %}
{% endblock content %}

{% block jslinks %}
<script src="{% static 'weightloss/mine/js/append.js' %}"></script>
{% endblock jslinks %}
