{% extends "weightloss/base.html" %}

{% block content %}
	<div class="content">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<div class="row">
					<h2>Er du sikker på at du vil slette inlægget "{{ object.title }}"?</h2>
				</div>
			</fieldset>
			<div class="content-delete">
				<div class="row">
					<div class="col">
						<button class="btn btn-secondary" type="sumbit">Ja, Slet</button>
					</div>
					<div class="col">
						<a class="btn btn-info" href="{% url 'weightloss-log' %}">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}